.btn {
  display: inline-block;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  box-shadow: 0px 4px 4px var(--btn-color-shadow);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--accent-color-btn);
  }
}
