.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  .header & {
    display: flex;
    align-items: center;
  }
  .footer & {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}
